/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  :root {
    --bg-primary: #ffffff;
    --bg-secondary: #f0f9ff;
    --text-primary: #0369a1;
    --text-secondary: #38bdf8;
    --accent: #0ea5e9;
    --border-color: #bae6fd;
  }

  .dark {
    --bg-primary: #111827;
    --bg-secondary: #1f2937;
    --text-primary: #e5e7eb;
    --text-secondary: #9ca3af;
    --accent: #0ea5e9;
    --border-color: #374151;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: color 0.3s, background-color 0.3s;
  }
}